#main-div-bookmarked{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    padding-top: 5%;
}
.bookmarked-img { 
    width: 20rem;
    margin-top: 2rem;

    
}
.bookmarked-img img{
    max-width: 100%;
}

#bookmarked-main-head #head-div{
    text-align: center;
    text-decoration: underline;
}